<header class="header">
  <div class="logo">
    <img src="/assets/sprites/logo.jpeg" alt="Logo">
  </div>
  <div class="webseite-name">
    <h1> DreamOFGraphy</h1>
  </div>
  <nav class="nav-container">
    <input type="checkbox" style="display: none" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <span class="burger-icon">&#9776;</span>
    <ul class="liste">
      <li><a routerLink="/" routerLinkActive="active home-link">Home</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Über uns</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
    </ul>
  </nav>
</header>

<div class="banner">
  <div class="banner-text">
    <span class="markerText">"Entdecke die Welt durch unsere Linse - unvergessliche Momente, atemberaubende Landschaften und die Liebe in ihrer schönsten Form."</span>
  </div>
  <div class="banner-image"></div>
</div>

