<section id="film-bereich">
  <div class="container">
    <div class="row background-1">
      <div class="col-6">
        <header class="intro-container">
          <h1>Drohnenfilme</h1>
          <p>Erlebe den Zauber der Liebe auf der Leinwand - Tauche ein in unsere Sammlung von fesselnden Filmen,
            die die unvergesslichen Momente, strahlenden Paare und die pure Emotion von Verlobungen, Trauungen und Hochzeiten einfangen.</p>
        </header>
      </div>
    </div>
    <div class="row background-2">
      <div class="col-3">
        <article class="film-box">
          <h2>Hanife & Burak</h2>
          <div class="responsive-iframe">
            <iframe src="https://www.youtube.com/embed/vvWuEpZREuA?vq=hd1080&rel=0" width="560" height="315" title="A YouTube video" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>Wedding Clip</p>
        </article>
      </div>

      <div class="col-3">
        <article class="film-box">
          <h2>Fatma & Oguzcan</h2>
          <div class="responsive-iframe">
            <iframe src="https://www.youtube.com/embed/LQ6ytLc0Wz8?vq=hd1080&rel=0" width="560" height="315"
                    title="Kasteel Keukenhof Fatma & Oğuzcan 16.04.2023" frameborder="0" allowfullscreen></iframe>
          </div>
          <p>Short Drone Clip</p>
        </article>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
