<!-------------------------------------------------------------- Leistungen Bereich  ------------------------------------------------------------------>
<section id="leistungen-bereich">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <header class="intro-container">
        <h1>Unser Portfolio</h1>
        <p>Unser talentiertes Team von Filmemachern, Fotografen und Drohnenpiloten arbeitet mit Leidenschaft und Hingabe daran,
          Ihre Traumhochzeit in Bildern zum Leben zu erwecken. Von romantischen Filmen über emotionale Fotografien bis hin zu spektakulären Drohnenaufnahmen
          - wir bieten Ihnen ein umfassendes Portfolio an Leistungen, die Ihren besonderen Tag unvergesslich machen.</p>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <article class="leistungs-box">
          <h2>Fotografien</h2>
          <p>Die Kunst der Fotografie ist unsere Leidenschaft und unsere Mission ist es, Ihre schönsten Momente mit einem magischen Blick einzufangen.
            Unsere einfühlsamen Fotografen verstehen es, Emotionen und Liebe in jedem Bild einzufangen und so eine zeitlose Erinnerung zu schaffen.</p>
          <a class="leistungen-ansehen-button" routerLink="/photografy-section">Ansehen</a>
        </article>
      </div>
      <div class="col-3">
        <article class="leistungs-box">
          <h2>Videoaufnahmen</h2>
          <p>Unsere talentierten Videografen sind wahre Geschichtenerzähler, die Ihre Liebe und die einzigartigen Augenblicke
            in berührende Filme verwandeln. Mit künstlerischer Leidenschaft und technischem Know-how kreieren wir Meisterwerke,
            die Sie immer wieder in Erstaunen versetzen und Ihnen ermöglichen, Ihren besonderen Tag immer wieder neu zu erleben.</p>
          <a class="leistungen-ansehen-button" routerLink="/video-section">Ansehen</a>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <article class="leistungs-box">
        <h2>Drohnenaufnahmen</h2>
        <p>Unsere Drohnenpiloten nehmen Sie mit auf eine bezaubernde Reise durch die Lüfte,
          um die Schönheit Ihrer Verlobung, Hochzeit oder Trauung aus luftiger Höhe einzufangen.
          Die atemberaubenden Perspektiven und fließenden Bewegungen unserer Drohnenaufnahmen verleihen Ihrem Film
          eine ganz besondere Dynamik und Energie.</p>
        <a class="leistungen-ansehen-button" routerLink="/drone-section">Ansehen</a>
        </article>
      </div>

      <div class="col-3">
        <article class="leistungs-box">
          <h2>All-inclusive</h2>
        <p>Mit unserer Kombination aus meisterhafter Filmkunst, kreativer Fotografie und beeindruckenden Drohnenaufnahmen schaffen wir Erinnerungen,
          die ein Leben lang halten und Ihre Geschichte mit Leidenschaft und Schönheit erzählen.</p>
        <a class="leistungen-ansehen-button" routerLink="/all-inclusive-section">Ansehen</a>
        </article>
      </div>
    </div>
  </div>
</section>

<!-------------------------------------------------------------- Video Bereich  ------------------------------------------------------------------>
<section id="video-bereich">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <header class="intro-container">
          <h1>Hanife & Burak</h1>
          <p>
            Tauche ein in die romantische Atmosphäre und die tiefe Liebe sowie das gemeinsame Glück unseres Hochzeitspaares.
            Diese mit Leidenschaft aufgenommenen Drohnenaufnahmen nehmen dich mit auf eine emotionale Reise,
            die das Wesen der Liebe in der magischen Metropole Istanbul widerspiegelt
          </p>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="video-container">
        <iframe src="https://www.youtube.com/embed/vvWuEpZREuA?start=0&end=93&vq=hd1080&autoplay=1&loop=1&modestbranding=1&rel=0&cc_load_policy=1&iv_load_policy=3&fs=0&color=white&controls=0&disablekb=1&playlist=vvWuEpZREuA&mute=1" title="Hanife ve Burak | Wedding Clip" frameborder="0"></iframe>
          </div>
        </div>
    </div>
  </div>
</section>

<!-------------------------------------------------------------- Service Bereich  ------------------------------------------------------------------>

<section id="service-bereich">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <header class="intro-container">
          <h1>Unsere Services</h1>
          <p>Wir bieten eine vielzahl an professionellen Services die auch in Kombination möglich sind. Sprechen sie uns an.</p>
          <a class="kontakt-button" routerLink="/contact">Kontakt</a>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <article class="service-box">
          <div id="drohnen-icon" class="service-icon"></div>
            <h1>Drohnenaufnahmen</h1>
            <p>unsere Drohnenaufnahmen werden hoch professionell und sicher durch Erfahrene Piloten aufgenommen</p>
        </article>
      </div>
      <div class="col-2">
        <article class="service-box">
          <div id="kamera-icon"class="service-icon"></div>
            <h1>Fotografie</h1>
            <p>Unsere Fotografen fotografieren mit Leidenschaft & benutzen das neueste Equipment </p>
        </article>
      </div>
      <div class="col-2">
        <article class="service-box">
          <div id="video-icon"class="service-icon"></div>
            <h1>Videoaufnahmen</h1>
            <p>Unsere Videos werden mit Liebe zum Detail aufgenommen um die besten Momente cinematisch aufzuzeichnen</p>
        </article>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
