<section class="leistung">
<!------------------------ Intro --------------------------------------------------------------------------------------->
<div class="intro-container"><h1>Unsere Service Pakete</h1></div>
<!------------------------ KLEINE LEISTUNGEN ----------------------------------------------------------------------------->
<div class="container">
  <div class="row">
    <div class="col-6"><p> 4 Std Standesamt/Engagement/After Wedding Shooting</p></div>
  </div><br><br>
  <div class="row order-box">
    <div class="col-2 paket-container order-1">
      <div class="paketname"><p>Foto-Paket</p></div>
      <div class="paketinhalt">
          <ul>
            <li>4 Std. Fotos-Aufnahme
            <li>Alle Fotos mit Bearbeitung - Color Correction und Color Grading
            <li>Zusätzlich 30 speziell bearbeitete Fotos (von euch ausgesucht) - Skin Retouch, Object Remove, Manipulation usw.
            <li class="bold">Unbegrenzte Fotoanzahl
            <li>Alle Fotos auf Web-Galerie mit der Download-Option</ul><p>400€</p>
      </div>
    </div>
    <div class="col-2 hauptpaket-container order-3">
      <div class="haupt-paketname"><span class="empfehlung">Unsere Empfehlung</span><p>Kombi-Paket Foto & Film</p></div>
      <div class="paketinhalt">
        <ul>
          <li> 4-6 Std. Foto- und Film-Aufnahme </li>
          <li> Alle Fotos mit Bearbeitung - Color Correction und Color Grading</li>
          <li> Zusätzlich 30 speziell bearbeitete Fotos (von euch ausgesucht) - Skin Retouch, Object Remove, Manipulation usw.</li>
          <li class="bold"> Unbegrenzte Fotoanzahl
          <li> Alle Fotos auf Web-Galerie mit der Download-Option</li>
          <li> ca. 2 Min. Hochzeitsfilm - Aufnahmen mit Cinema Kameras, Kamerastabilisator und Drohne (Wetterabhängig)</li>
          <li class="bold"> Kostenlose Drohnenaufnahme</li>
        </ul><p class="angebot">500€</p>
      </div>
    </div>
    <div class="col-2 paket-container order-2">
      <div class="paketname"><p>Film-Paket</p></div>
      <div class="paketinhalt">
        <ul>
          <li>2 Std. Film-Aufnahme</li>
          <li>ca. 2 Min. Hochzeitsfilm - Aufnahmen mit Cinema Kameras, Kamerastabilisator und Drohne (Wetterabhängig)</li>
          <li class="bold">Kostenlose Drohnenaufnahme</li>
        </ul><p> 250€ </p></div>
    </div>
  </div>
</div>
</section>

<!------------------------ GROßE LEISTUNGEN -------------------------------------------------------------------------------->

<section class="leistung">
  <div class="container">
    <div class="row">
      <div class="col-6"><p>Ganztägige Hochzeitsreportage</p></div>
    </div><br><br>
    <div class="row order-box">
      <div class="col-2 paket-container order-1">
        <div class="paketname"><p>Foto-Paket</p></div>
        <div class="paketinhalt">
          <ul>
            <li> Ganztägige Foto-Reportage
            <li>Alle Fotos mit Bearbeitung - Color Correction und Color Grading
            <li>Zusätzlich 50 speziell bearbeitete Fotos (von euch ausgesucht) - Skin Retouch, Object Remove, Manipulation usw.
            <li class="bold">Unbegrenzte Fotoanzahl
            <li>Alle Fotos auf Web-Galerie mit der Download-Option</ul><p>750€</p>
        </div>
      </div>
      <div class="col-2 hauptpaket-container order-3">
        <div class="haupt-paketname"><span class="empfehlung">Unsere Empfehlung</span><p>Kombi-Paket Foto & Film</p></div>
        <div class="paketinhalt">
          <ul>
            <li> Ganztätige Foto- und Film-Aufnahme </li>
            <li> Alle Fotos mit Bearbeitung - Color Correction und Color Grading</li>
            <li> Zusätzlich 60 speziell bearbeitete Fotos (von euch ausgesucht) - Skin Retouch, Object Remove, Manipulation usw.</li>
            <li class="bold"> Unbegrenzte Fotoanzahl</li>
            <li> Alle Fotos auf Web-Galerie mit der Download-Option</li>
            <li>Zwei Hochzeitsfilme in Cinemaqualiät</li>
            <ul><li> Trailer (ca. 1 Min.)</li><li> Highlights-Film (ca. 7 - 12 Min.)</li></ul>
            <li> Aufnahmen mit Cinema Kameras, Kamerastabilisator und Drohne (Wetterabhängig)</li>
            <li class="bold"> Kostenlose Drohnenaufnahme</li>
          </ul><p class="angebot">1200€</p>
        </div>
      </div>
      <div class="col-2 paket-container order-2">
        <div class="paketname"><p>Film-Paket</p></div>
        <div class="paketinhalt">
          <ul>
            <li> Ganzer Tag verfolgt mit der Film-Aufnahme</li>
            <li>Zwei Hochzeitsfilme in Cinemaqualiät</li>
              <ul><li> Trailer (ca. 1 Min.)</li><li> Highlights-Film (ca. 7 - 12 Min.)</li></ul>
            <li> Aufnahmen mit Cinema Kameras, Kamerastabilisator und Drohne (Wetterabhängig)</li>
            <li class="bold">Kostenlose Drohnenaufnahme</li>
          </ul><p>750€</p></div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
