<header class="intro-container">
  <h1>Momentaufnahmen</h1>
  <p>Erlebe den Zauber der Liebe auf der Leinwand - Tauche ein in unsere Sammlung von fesselnden Filmen,
    die die unvergesslichen Momente, strahlenden Paare und die pure Emotion von Verlobungen, Trauungen und Hochzeiten einfangen.</p>
</header>
<section class="foto-bereich background-1">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <header class="intro-container">
          <h1>Saliha und Kadir</h1>
          <p>Erlebe den Zauber der Liebe auf der Leinwand - Tauche ein in unsere Sammlung von fesselnden Filmen,
            die die unvergesslichen Momente, strahlenden Paare und die pure Emotion von Verlobungen, Trauungen und Hochzeiten einfangen.</p>
        </header>
      </div>
    </div>
    <div class="row">
        <article class="bilder-box">
          <h2>Nikah Shooting</h2>
          <div class="col-2 bild">
            <picture>
              <img src="https://live.staticflickr.com/65535/53055387543_af7fbd7f33_o.jpg" width="4839" height="3217" alt="IMG_9289"/>
            </picture>
          </div>
          <div class="col-2 bild">
            <picture>
              <img src="https://live.staticflickr.com/65535/53055387473_3af4b9d3f2_o.jpg" width="5184" height="3456" alt="IMG_9113"/>
            </picture>
          </div>
          <div class="col-2 bild">
            <picture>
              <img src="https://live.staticflickr.com/65535/53055092779_224f59092d_o.jpg" width="5184" height="3456" alt="IMG_9478"/>
            </picture>
          </div>
        </article>
      </div>

    <div class="row">
      <article class="bilder-box"><br><br>
        <div class="col-2 bild"><picture>
          <img src="https://live.staticflickr.com/65535/53055388313_f10bb3f8db_o.jpg" width="5184" height="3456" alt="IMG_9452"/>
        </picture>
        </div>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53055286610_c99016684b_o.jpg" width="5184" height="3456" alt="IMG_9155"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53055092234_5fa14f113c_o.jpg" width="5184" height="3456" alt="IMG_9241"/>
          </picture>
        </div>
      </article>
    </div>

    <div class="row">
      <article class="bilder-box">
        <h2>Söz Shooting</h2>
        <div class="col-2 bild">
            <picture class="doppel-bild">
              <img src="https://live.staticflickr.com/65535/53054907866_7cd9c555af_o.jpg" width="5184" height="3456" alt="Oguzcan Oezcetin_4608"/>
            </picture>
          <picture>
            <img src="https://live.staticflickr.com/65535/53055283845_389278afcd_o.jpg" width="5208" height="3476" alt="Oguzcan Oezcetin_4318"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53054318187_3b83febbcd_o.jpg" width="3020" height="4312" alt="Oguzcan Oezcetin_7646"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53055089264_b6ab16beee_o.jpg" width="5184" height="3456" alt="Oguzcan Oezcetin_727"/>
          </picture>
          <picture>
            <img src="https://live.staticflickr.com/65535/53055283670_a2b8238d7d_o.jpg" width="5208" height="3476" alt="Oguzcan Oezcetin_4311"/>
          </picture>
        </div>
      </article>
    </div>

    <div class="row">
      <article class="bilder-box"><br><br>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53055089264_b6ab16beee_o.jpg" width="5184" height="3456" alt="Oguzcan Oezcetin_727"/>
        </picture>
          <picture>
            <img src="https://live.staticflickr.com/65535/53054318092_39430d6543_o.jpg" width="5184" height="3456" alt="Oguzcan Oezcetin_1634"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
           <img src="https://live.staticflickr.com/65535/53054907776_dae01b0e44_o.jpg" width="3209" height="5208" alt="Oguzcan Oezcetin_4320"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53055384873_b585e5a8ec_o.jpg" width="5184" height="3456" alt="Oguzcan Oezcetin_4872"/>
          </picture>
          <picture>
            <img src="https://live.staticflickr.com/65535/53054317927_b9d34106de_o.jpg" width="4017" height="3080" alt="Oguzcan Oezcetin_507"/>
          </picture>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="foto-bereich background-2">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <header class="intro-container">
          <h1>Aylin & Sedat </h1>
          <p>Erlebe den Zauber der Liebe auf der Leinwand - Tauche ein in unsere Sammlung von fesselnden Filmen,
            die die unvergesslichen Momente, strahlenden Paare und die pure Emotion von Verlobungen, Trauungen und Hochzeiten einfangen.</p>
        </header>
      </div>
    </div>
    <div class="row">
      <article class="bilder-box">
        <h2>Söz Shooting</h2>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53054899096_5c8b66f3b9_o.jpg" width="4797" height="3195" alt="IMG_8174"/>
          </picture>
          <picture>
            <img src="https://live.staticflickr.com/65535/53054309807_84c59d3af3_o.jpg" width="5184" height="3456" alt="IMG_8357"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
           <img src="https://live.staticflickr.com/65535/53055081459_c8975ab7e9_o.jpg" width="3258" height="4889" alt="IMG_8452"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53055275775_d6ef1978d5_o.jpg" width="4558" height="3038" alt="IMG_8112"/>
          </picture>
          <picture>
            <img src="https://live.staticflickr.com/65535/53054309452_80cd4b3f07_o.jpg" width="5184" height="3456" alt="IMG_8336"/>
          </picture>
        </div>
      </article>
    </div>

    <div class="row">
      <article class="bilder-box">
        <div class="col-3 bild"><picture>
          <img src="https://live.staticflickr.com/65535/53055376058_cea0bf2e07_o.jpg" width="4764" height="3177" alt="IMG_8355"/>
        </picture>
        </div>
        <div class="col-3 bild">
          <picture>
           <img src="https://live.staticflickr.com/65535/53055081049_36902b28be_o.jpg" width="5184" height="3456" alt="IMG_8257"/>
          </picture>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="foto-bereich background-1">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <header class="intro-container">
          <h1> Elif & Kadir </h1>
          <p>Erlebe den Zauber der Liebe auf der Leinwand - Tauche ein in unsere Sammlung von fesselnden Filmen,
            die die unvergesslichen Momente, strahlenden Paare und die pure Emotion von Verlobungen, Trauungen und Hochzeiten einfangen.</p>
        </header>
      </div>
    </div>
    <div class="row">
      <article class="bilder-box">
        <h2>Isteme Shooting</h2>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53054890401_111c662c96_o.jpg" width="5184" height="3456" alt="Oguzcan Oezcetin_4189"/>
          </picture>
          <picture>
            <img src="https://live.staticflickr.com/65535/53055071994_7cd4071115_o.jpg" width="5184" height="3456" alt="Oguzcan Oezcetin_4265"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53054299977_ac5bcd4feb_o.jpg" width="1134" height="1600" alt="söz_ek_2"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
           <img src="https://live.staticflickr.com/65535/53054890221_32aba7699e_o.jpg" width="1600" height="1066" alt="söz_ek_3"/>
          </picture>
          <picture>
            <img src="https://live.staticflickr.com/65535/53054890231_0101c823c8_o.jpg" width="5184" height="3456" alt="Oguzcan_Oezcetin_4188"/>
          </picture>
        </div>
      </article>
    </div>
    <div class="row">
      <article class="bilder-box">
        <h2>Nisan Shooting</h2>
        <div class="col-2 bild">
          <picture>
           <img src="https://live.staticflickr.com/65535/53054325442_072b3cb091_o.jpg" width="1066" height="1600" alt="nisan_ek_3"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53054325437_5c206bb82b_o.jpg" width="1600" height="1066" alt="nisan_ek_4"/>
          </picture>
          <picture>
           <img src="https://live.staticflickr.com/65535/53055290345_696acd0685_o.jpg" width="1600" height="1066" alt="nisan_ek_5"/>
          </picture>
        </div>
        <div class="col-2 bild">
          <picture>
          <img src="https://live.staticflickr.com/65535/53055096294_f468b979d3_o.jpg" width="1360" height="2048" alt="nisan_ek_2"/>
          </picture>
        </div>
      </article>
    </div>
    <div class="row">
      <article class="bilder-box"><br><br><br>
        <h2>Nikah Shooting</h2>
        <div class="col-3 bild"><picture>
          <img src="https://live.staticflickr.com/65535/53055395128_b6dd89ccc9_b.jpg" width="1024" height="683" alt="nikah_ek_4"/>
        </picture>
        </div>
        <div class="col-3 bild">
          <picture>
            <img src="https://live.staticflickr.com/65535/53055395138_6225f158c0_o.jpg" width="1296" height="864" alt="nikah_ek_2"/>
          </picture>
        </div>
      </article>
    </div>
    <div class="row">
      <article class="bilder-box">
        <div class="col-3 bild"><picture>
          <img src="https://live.staticflickr.com/65535/53054918251_4e07a3c945_o.jpg" width="1024" height="576" alt="nikah_ek_3"/>
        </picture>
        </div>
        <div class="col-3 bild"><picture>
          <img src="https://live.staticflickr.com/65535/53055395133_30db9cc2ba_o.jpg" width="1024" height="576" alt="nikah_ek_1"/>
        </picture>
        </div>
      </article>
    </div>
  </div>
</section>



<app-footer></app-footer>
